name: open homebrew-core PR

on:
  push:
    branches:
      - main
      - '*/test-homebrew-core-pr'

jobs:
  tests:
    name: open homebrew-core PR
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-githubactions"
    steps:
      - uses: earthly/actions-setup@v1.0.1
      - uses: actions/checkout@v3
      - name: run
        run: |-
          cd .release-to-homebrew-core
          earthly +open-homebrew-core-pr
